connector.name=iceberg

# Iceberg metadata is stored in Postgres, data files are stored in MinIO.
iceberg.catalog.type=jdbc
iceberg.jdbc-catalog.driver-class=org.postgresql.Driver
iceberg.jdbc-catalog.connection-url=jdbc:postgresql://postgres:5432/tiki_db
iceberg.jdbc-catalog.connection-user=nhansohoccode
iceberg.jdbc-catalog.connection-password=nhuhuyen49#
iceberg.jdbc-catalog.catalog-name=lakehouse
iceberg.jdbc-catalog.default-warehouse-dir=s3://lakehouse/iceberg/

iceberg.file-format=PARQUET

fs.s3.enabled=true
s3.endpoint=http://minio:9000
s3.region=us-east-1
s3.aws-access-key=nhansohoccode
s3.aws-secret-key=nhuhuyen49#
s3.path-style-access=true
